/*.nav-main,.nav-center{
    height: 55px;
    line-height: 55px;
    z-index: 1;
}
nav{
    width: 100%;
    box-shadow:1px 1px 10px darkgray ;
    position: fixed;
    top:0;left: -1px;
    background-color: white;
}
.nav-center{
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}*/
/*.glyphicon-search{
    position: relative;
    left: -20px;
    top:4px
}*/
/*.search{
    width: 500px;
    height: 2em;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}*/
/*.nav-main{
    list-style: none;
    float: right;
}
.nav-li{
    float: left;
    padding:0 2em;
}*/
.dropdown-menu{
    left:2em;
}
main{
    width: 1000px;
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
    top:85px;
}
.places{
    width: 100%;
    margin:0 0 60px 0;
    display: block;
}
img{
    width: 100%;
}
.pictures-div{
    font-size: 20px;
    width: 60%;
    float: left;
    display: inline-block;
    margin: 0 30px 15px 0 ;
}
/*.img-decoration{
    width:100%;
    margin:auto;
    position: relative;
    top:-2em;
    background-color:rgba(0,0,0,0.3);
    color: white;
    height:2em;
    line-height: 2em;
    text-align: center;
}*/
p{
    text-align: justify;
    font-size: 20px;
    text-indent: 2em;
}
.lead{
    text-indent: 0;
}